<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KAEOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KAEOS.Properties.Settings>
            <setting name="ShowCpu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGpu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExtIp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIntIp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCpuFan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGpuFan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockUi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UiPosLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UiPosTop" serializeAs="String">
                <value>0</value>
            </setting>
        </KAEOS.Properties.Settings>
    </userSettings>
</configuration>